{% extends "base.html" %}
{% block title %}{{ t('buy.paddle_page_title') }}{% endblock %}
{% block head_extra %}
<script src="https://cdn.paddle.com/paddle/v2/paddle.js"></script>
{% endblock %}
{% block content %}
<section class="card paddle-checkout-card paddle-checkout-minimal">
  {% if paddle_error %}
  <p class="hint flash-err">{{ paddle_error | safe }}</p>
  <p><a class="btn btn-secondary" href="/buy">{{ t('buy.paddle_back') }}</a></p>
  {% elif txn_id %}
  <p class="hint muted" id="paddle-status">{{ t('buy.paddle_opening') }}</p>
  <p class="fine-print"><a href="/buy">{{ t('buy.paddle_back') }}</a></p>
  <p id="paddle-error-detail" class="hint flash-err is-hidden" role="alert"></p>
  <script type="application/json" id="paddle-config">{{ paddle_checkout_json | safe }}</script>
  <script type="application/json" id="paddle-txn">"{{ txn_id }}"</script>
  <script src="/static/js/paddle-bridge.js"></script>
  <script src="/static/js/paddle-checkout.js?v=6"></script>
  {% else %}
  <p class="muted">{{ t('buy.enter_email_hint') }}</p>
  <p><a class="btn btn-primary" href="/buy">{{ t('buy.paddle_back') }}</a></p>
  {% endif %}
</section>
{% endblock %}
